<div class=center hero-Unit">
<h1>Welcome to the accounting application</h1>
<h2>
  This is the home page for the PO Drawdown for 
  <a href="http://www.nbc.com/chicago-fire/"> Chicago Fire.</a>
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>

<div></div>

  <%= link_to image_tag("my.png", alt: "Chicago Fire Accounting"), 'http:my imageurl.com' %>


